{% extends 'admin_base.html' %}

{% block main %}
<script type="text/javascript">
    function checkPassword() {
        var newPassword = document.getElementById("newpassword").value;
        var confirmPassword = document.getElementById("confirmpassword").value;
        
        if (newPassword !== confirmPassword) {
            alert('New Password and Confirm Password fields do not match');
            return false;
        }  
        return true;
    }
</script>
   
<div class="card-shadow m-5">
    <div class="card-body">
        {% if msg %}
            <h4>{{ msg }}</h4>
        {% endif %}  

        <h5 class="p-2" style="border-bottom: 2px solid orange">Change Password</h5>

        <div class="container-fluid">
            <form method="post" name="changepassword" onsubmit="return checkPassword()">
                {% csrf_token %}
                <div class="form-row"> 
                    <div class="col-sm md lg xl xxl-6">
                        <div class="form-group">
                            <label for="currentpassword">Current Password</label>
                            <input type="password" class="form-control price-input" name="currentpassword" id="currentpassword" placeholder="Enter current password">
                        </div>
                    </div>  
                </div>

                <div class="form-row"> 
                    <div class="col-sm md lg xl xxl-6">
                        <div class="form-group">
                            <label for="newpassword">New Password</label>
                            <input type="password" class="form-control price-input" name="newpassword" id="newpassword" placeholder="Enter new password">
                        </div>
                    </div>  
                </div>

                <div class="form-row"> 
                    <div class="col-sm md lg xl xxl-6">
                        <div class="form-group">
                            <label for="confirmpassword">Confirm New Password</label>
                            <input type="password" class="form-control price-input" name="confirmpassword" id="confirmpassword" placeholder="Enter new password again">
                        </div>
                    </div>  
                </div>

                <br>
                <input type="submit" value="Submit" onsubmit="return checkPassword()" class="m-2 px-3 btn btn-primary">
            </form>
        </div>
    </div>
</div>

{% if error == "no" %}
    <script>
        alert('Password updated successfully');
        window.location = ('{% url 'logout' %}');
    </script>
{% endif %}

{% if error == "yes" %}
    <script>
        alert('New Password and Confirm Password fields do not match');
    </script> 
{% endif %}

{% if error == "not" %}
    <script>
        alert('Your current password is wrong');
    </script>
{% endif %}

{% endblock %}
