{% extends 'base.html' %}

{% block content %}
{% if messages %}
  {% for message in messages %}
    <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message }}</div>
  {% endfor %}
{% endif %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Register As Admin!</h1>
        <form method="post" action="{% url 'create_superuser' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="password1">Password:</label>
                <input type="password" class="form-control" id="password1" name="password1">
            </div>
            <div class="form-group">
                <label for="password2">Confirm Password:</label>
                <input type="password" class="form-control" id="password2" name="password2">
            </div>
            <button type="submit" class="btn btn-primary">Create Superuser</button>
        </form>
    </div>
</div>

<style>
    /* Custom CSS */
    .jumbotron {
        border-radius: 10px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    }

    .form-control {
        border-radius: 8px;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

    .btn-primary:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
    }
</style>
{% endblock %}
