{% extends 'client_base.html' %}

{% block main %}
<script>
  new DataTable('#example', {
    layout: {
        topStart: {
            buttons: ['copyHtml5', 'excelHtml5', 'csvHtml5', 'pdfHtml5']
        }
    }
});
</script>
 
<div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Signals</h4>
          </div>
          <div class="card-body">
            {% if error_message %}
            <div class="alert alert-danger" role="alert">
              {{ error_message }}
            </div>
            {% endif %}
            <div class="table-responsive table-container">
              <table class="table tablesorter table-bordered" id="example">
                <thead class="text-black bg-black">
                  <tr>
                    <th>SIGNALS ID</th>
                    <th>SIGNALS TIME</th>
                    <th>CATEGORY</th>
                    <th>TRADE SYMBOL</th>
                    <th>MESSAGE</th>
                 
                  </tr>
                </thead>
                <tbody>
                  {% for signal in s %}     
                  <tr>
                      <td>{{ signal.id|default:"-" }}</td>   
                      <td>{{ signal.created_at|default:"-" }}</td>
                      <td>{{ signal.category|default:"-" }}</td>
                      <td>{{ signal.SYMBOL|default:"-" }}</td>
                      <td>{{ signal.MESSAGE|default:"-" }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

