{% extends 'admin_base.html' %}

{% block main %}

 
<div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Admin Settings</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive table-container"> <!-- Add the table-container class here -->
              


              <a href="#" class="list-group-item list-group-item-warning list-group-item-action {% if request.path == '/symbol_list/' %} active {% endif %}">Symbol List</a>
            </div>
          <br>
            <div class="table-responsive table-container"> <!-- Add the table-container class here -->
              


              <a href="{% url 'group_list' %}" class="list-group-item list-group-item-warning list-group-item-action {% if request.path == '/group_list/' %} active {% endif %}">Group List</a>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>

{% if error == "no" %}
<script>
  alert('Signup Successful');
  window.location = ('{% url 'client_signals' %}');
</script>
{% endif %}
{% if error == "yes" %}
<script>
  alert('Something went wrong , Try Again...');
</script> 

{% endif %}


{% endblock %}